.cover__overlay {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background: rgba(42, 44, 47, 0.3);
  min-height: 740px;
  justify-content: center;
  background-size: cover;
  width: 100%;
}
.cover__overlay:hover {
  background: rgba(42, 44, 47, 0.8);
}
@media screen and (max-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
  }
}
@media screen and (max-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}
@media screen and (max-width: 320px) {
  .cover__overlay {
    min-height: 200px;
  }
}
